<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Crew Members</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List
					Crew Members</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{/crewMember_create}">Create</a>
		</p>
		<h3 th:text="${'Page ' + paging.currentPageNumber}">Page #</h3>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Key</th>
					<th><a class="nav-link"
						th:href="@{|/crewMember?sort=FirstName&direction=${sorting.firstNameLinkDirection}|}">First
							Name <i class="material-icons"
							th:if="${sorting.firstNameHasIcon}" th:text="${sorting.iconName}">arrow_drop_up</i>
					</a></th>
					<th><a class="nav-link"
						th:href="@{|/crewMember?sort=LastName&direction=${sorting.lastNameLinkDirection}|}">Last
							Name <i class="material-icons" th:if="${sorting.lastNameHasIcon}"
							th:text="${sorting.iconName}">arrow_drop_up</i>
					</a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="crewMember: ${crewMembers}">
					<td><a class="btn btn-primary"
						th:href="@{|/crewMember/${crewMember.key}|}">View</a></td>
					<td th:text="${crewMember.key}">123</td>
					<td th:text="${crewMember.firstName}">USS Demo</td>
					<td th:text="${crewMember.lastName}">USS Demo</td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${paging.endOfResults}">
			<a class="btn btn-primary"
				th:href="@{|/crewMember?sort=${sorting.sort}&direction=${sorting.direction}&pageNumber=${paging.nextPageNumber}&bookmark=${paging.nextBookmark}|}">Next</a>
		</p>
	</div>
</body>
</html>