<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<head>
<title>Edit Crew Member</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Edit Crew Member</h1>
		<form action="#" th:action="@{/crewMember_editPost}"
			th:object="${crewMember}" method="post">
			<input type="submit" value="Save" /> <a
				th:href="@{|/crewMember/${crewMember.id}|}">Cancel</a>
			<table>
				<tr>
					<td>ID:</td>
					<td th:text="${crewMember.id}">ID</td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{firstName}" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" th:field="*{lastName}" /></td>
				</tr>
			</table>
			<input type="hidden" th:field="*{id}" />
		</form>
	</div>
</body>
</html>