<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Crew Members</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List
					Crew Members</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{/crewMember_create}">Create</a>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="crewMember: ${crewMembers}">
					<td><a class="btn btn-primary"
						th:href="@{|/crewMember/${crewMember.id}|}">View</a></td>
					<td th:text="${crewMember.id}">123</td>
					<td th:text="${crewMember.firstName}">USS Demo</td>
					<td th:text="${crewMember.lastName}">USS Demo</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>