<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Delete Crew Member</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/crewMember}">List
						Crew Members</a></li>
				<li class="breadcrumb-item"><a
					th:href="@{|/crewMember/${crewMember.key}|}">View Crew Member</a></li>
				<li class="breadcrumb-item active" aria-current="page">Delete
					Crew Member</li>
			</ol>
		</nav>
		<p>Preparing to delete crew member.</p>
		<form th:action="@{/crewMember/deletePost}" th:object="${crewMember}"
			method="post">
			<div class="form-group row">
				<label for="txtKey" class="col-sm-2 col-form-label">Key</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtKey" th:field="*{key}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtFirstName" class="col-sm-2 col-form-label">First
					Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtFirstName" th:field="*{firstName}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtLastName" class="col-sm-2 col-form-label">Last
					Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtLastName" th:field="*{lastName}">
				</div>
			</div>
			<p>
				<input type="submit" class="btn btn-primary" value="Delete" />
			</p>
		</form>
	</div>
</body>
</html>