<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Explore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Explore</li>
			</ol>
		</nav>
		<div class="row">
			<div id="divSpaceViewer" class="col-sm" style="height: 600px;"></div>
			<div class="col-sm">
				<p>
					Sector: <span id="ctrlSector"></span>
				</p>
				<p>
					Object: <span id="ctrlObject"></span>
				</p>
				<p>
					Hover: <span id="ctrlHover"></span>
				</p>
			</div>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="scripts/three.js"></script>
		<script type="text/javascript" src="scripts/TrackballControls.js"></script>
		<script type="text/javascript" src="scripts/Detector.js"></script>
		<script type="text/javascript" src="scripts/stats.min.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewer.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerHandler.js"></script>
		<script type="text/javascript">
			SpaceViewer
					.RegisterGetSectorsHandler(SpaceViewerHandler.GetSectorsAsync);
			SpaceViewer
					.RegisterGetSectorByLocationHandler(SpaceViewerHandler.GetSectorByLocationAsync);
			SpaceViewer
					.RegisterGetSectorByKeyHandler(SpaceViewerHandler.GetSectorByKeyAsync);
			SpaceViewer
					.RegisterGetObjectsBySectorHandler(SpaceViewerHandler.GetObjectsBySectorAsync);

			SpaceViewer.RegisterOnSectorClickHandler(function(sectorKey) {
				$('#ctrlSector').html(sectorKey);
			});

			SpaceViewer.RegisterOnObjectClickHandler(function(objectType,
					objectKey) {
				$('#ctrlObject').html(objectType + ' ' + objectKey);
			});

			SpaceViewer.RegisterOnObjectHoverHandler(function(objectType,
					objectKey) {
				$('#ctrlHover').html(objectType + ' ' + objectKey);
			});

			SpaceViewer.Initialize("#divSpaceViewer");
		</script>
	</div>
</body>
</html>