<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Explore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Explore</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-sm">
				<div id="divSpaceViewer" class="mb-2" style="height: 500px;">
					<canvas id="canvasSpaceViewer" style="width: 100%; height: 100%;"></canvas>
				</div>
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-pills card-header-pills">
							<li class="nav-item"><a id="aDebugRestLink"
								class="nav-link active">REST <span id="spanDebugRestCounter"
									class="badge badge-secondary">10</span>
							</a></li>
							<li class="nav-item"><a id="aDebugLogLink" class="nav-link">Log</a></li>
						</ul>
					</div>
					<div class="card-body">
						<div id="divDebugRestBody"></div>
						<div id="divDebugLogBody"></div>
					</div>
				</div>
			</div>
			<div class="col-sm">
				<!--/*-->
				************************ BEGIN COMMENT BLOCK
				<h2></h2>
				<p>
					Sector: <span id="ctrlSector"></span>
				</p>
				<p>
					Object: <span id="ctrlObject"></span>
				</p>
				<p>
					Hover: <span id="ctrlHover"></span>
				</p>
				************************ END COMMENT BLOCK
				<!--*/-->
				<div class="h2 border" style="background-color: #e9ecef;">
					<div class="row">
						<div id="divMapItemTitle" class="col-sm ml-2">Star 123</div>
						<div class="col-sm">
							Sector <span id="spanSectorX">X</span> &times; <span
								id="spanSectorY">Y</span> &times; <span id="spanSectorZ">Z</span>
						</div>
					</div>
				</div>
				<div id="divMapItemProperties">
					<!--/*-->
					************************ BEGIN COMMENT BLOCK
					<h6>ID</h6>
					<table class="table table-sm">
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td colspan="2">Larry the Bird</td>
							</tr>
						</tbody>
					</table>
					<h6>Position</h6>
					<table class="table table-sm">
						<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td colspan="2">Larry the Bird</td>
							</tr>
						</tbody>
					</table>
					************************ END COMMENT BLOCK
					<!--*/-->
				</div>
			</div>
		</div>
		<!--/*-->
		************************ BEGIN COMMENT BLOCK
		<div class="row">
			<div class="col-sm">
				<p id="ctrlDebug"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm">
				<p>REST</p>
				<div id="ctrlRestLog" style="height: 400px; overflow: scroll;"></div>
			</div>
		</div>
		************************ END COMMENT BLOCK
		<!--*/-->
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" src="scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="scripts/three.js"></script>
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
		<script type="text/javascript" src="scripts/TrackballControls.js"></script>
		<script type="text/javascript" src="scripts/Detector.js"></script>
		<script type="text/javascript" src="scripts/stats.min.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewer.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerMockHandler.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerRestHandler.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerRestLogger.js"></script>
		<script type="text/javascript" src="scripts/explorer.js"></script>
		<script type="text/javascript">
			$(document).ready(Explorer.Initialize);
		</script>
	</div>
</body>
</html>