<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layoutFluid}">
<head>
<title>Explore</title>
<link rel="stylesheet" href="content/explore.css">
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Explore</li>
			</ol>
		</nav>
		<div class="row">
			<div class="col-sm-6">
				<div id="divSpaceViewer" class="mb-2" style="height: 500px;">
					<canvas id="canvasSpaceViewer" style="width: 100%; height: 100%;"></canvas>
				</div>
				<table id="tableLegend">
					<tr>
						<td colspan="2">Mouse</td>
						<td colspan="6">Keyboard</td>
					</tr>
					<tr>
						<td><kbd>Drag</kbd></td>
						<td>Pan</td>
						<td><kbd>&larr;</kbd></td>
						<td>Left (-X)</td>
						<td><kbd>&uarr;</kbd></td>
						<td>Up (+Y)</td>
						<td><kbd>Ctrl + &uarr;</kbd></td>
						<td>Forward (-Z)</td>
					</tr>
					<tr>
						<td><kbd>Wheel</kbd></td>
						<td>Zoom</td>
						<td><kbd>&rarr;</kbd></td>
						<td>Right (+X)</td>
						<td><kbd>&darr;</kbd></td>
						<td>Down (-Y)</td>
						<td><kbd>Ctrl + &darr;</kbd></td>
						<td>Back (+Z)</td>
					</tr>
				</table>
			</div>
			<div class="col-sm-6">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-pills card-header-pills">
							<li class="nav-item nav-item-tab"><a id="aMapItemLink"
								class="nav-link nav-link-tab active" href="#"
								data-body="#divMapItemBody">Object</a></li>
							<li class="nav-item nav-item-tab"><a id="aRestLink"
								class="nav-link nav-link-tab" href="#" data-body="#divRestBody">REST
									<span id="spanRestCounter" class="badge badge-secondary">0</span>
							</a></li>
							<li class="nav-item nav-item-tab"><a id="aLogLink"
								class="nav-link nav-link-tab" href="#" data-body="#divLogBody">Log
									<span id="spanLogCounter" class="badge badge-secondary">0</span>
							</a></li>
						</ul>
					</div>
					<div class="card-body">
						<div id="divMapItemBody" class="card-body-panel">
							<div class="h2 border" style="background-color: #e9ecef;">
								<div class="row">
									<div id="divMapItemTitle" class="col-sm ml-2">Star 123</div>
									<div class="col-sm">
										Sector <span id="spanSectorX">X</span> &times; <span
											id="spanSectorY">Y</span> &times; <span id="spanSectorZ">Z</span>
									</div>
								</div>
							</div>
							<div id="divMapItemProperties"></div>
						</div>
						<div id="divRestBody" class="card-body-panel">
							<div class="mb-2">
								<button id="btnRestClear" class="btn btn-small">Clear</button>
							</div>
							<pre id="divRestBodyContent"></pre>
						</div>
						<div id="divLogBody" class="card-body-panel">
							<div class="mb-2">
								<button id="btnLogClear" class="btn btn-small">Clear</button>
							</div>
							<pre id="divLogBodyContent"></pre>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div layout:fragment="scripts">
		<script type="text/javascript" src="scripts/three.js"></script>
		<script type="text/javascript"
			src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
		<script type="text/javascript" src="scripts/TrackballControls.js"></script>
		<script type="text/javascript" src="scripts/Detector.js"></script>
		<script type="text/javascript" src="scripts/stats.min.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewer.js"></script>
		<script type="text/javascript" src="scripts/CameraController.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerMockHandler.js"></script>
		<script type="text/javascript" src="scripts/SpaceViewerRestHandler.js"></script>
		<script type="text/javascript" src="scripts/Logger.js"></script>
		<script type="text/javascript" src="scripts/explorer.js"></script>
		<script type="text/javascript">
			$(document).ready(Explorer.Initialize);
		</script>
	</div>

</body>
</html>