<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SFMS</title>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="/content/core.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" th:href="@{/}">SFMS</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#ctrlNavbar" aria-controls="ctrlNavbar"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="ctrlNavbar">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item"><a class="nav-link" th:href="@{/explore}">Explore</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/spaceship}">Spaceships</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/crewMember}">Crew Members</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/star}">Stars</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/sector}">Sector</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/cluster}">Clusters</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/utility}">Utility</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div layout:fragment="content">
			<!-- ============================================================================ -->
			<!-- This content is only used for static prototyping purposes (natural templates)-->
			<!-- and is therefore entirely optional, as this markup fragment will be included -->
			<!-- from "fragments/header.html" at runtime.                                     -->
			<!-- ============================================================================ -->
			<h1>Static content for prototyping purposes only</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Praesent scelerisque neque neque, ac elementum quam dignissim
				interdum. Phasellus et placerat elit. Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Praesent scelerisque neque neque, ac
				elementum quam dignissim interdum. Phasellus et placerat elit.</p>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<div layout:fragment="scripts"></div>
</body>
</html>