<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Simulation</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Simulation</li>
			</ol>
		</nav>
		<p>
			Job Worker Status: <span th:text="${status.jobWorkerStatus}">Status</span>
			<a class="btn btn-primary" th:href="@{/simulator/startJobWorker}"
				th:if="${status.canStartJobWorker}">Start</a> <a
				class="btn btn-primary" th:href="@{/simulator/stopJobWorker}"
				th:if="${status.canStopJobWorker}">Stop</a>
		</p>
		<p>
			Transaction Worker Status: <span
				th:text="${status.transactionWorkerStatus}">Status</span> <a
				class="btn btn-primary"
				th:href="@{/simulator/startTransactionWorker}"
				th:if="${status.canStartTransactionWorker}">Start</a> <a
				class="btn btn-primary"
				th:href="@{/simulator/stopTransactionWorker}"
				th:if="${status.canStopTransactionWorker}">Stop</a>
		</p>
		<p>
			<a class="btn btn-primary" th:href="@{/simulation/simulate}">Simulate</a>
		</p>
	</div>
</body>
</html>