<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Delete Spaceship</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/spaceship}">List
						Spaceships</a></li>
				<li class="breadcrumb-item"><a
					th:href="@{|/spaceship/${spaceship.key}|}">View Spaceship</a></li>
				<li class="breadcrumb-item active" aria-current="page">Delete
					Spaceship</li>
			</ol>
		</nav>
		<p>Preparing to delete spaceship.</p>
		<form th:action="@{/spaceship_deletePost}" th:object="${spaceship}"
			method="post">
			<div class="form-group row">
				<label for="txtkey" class="col-sm-2 col-form-label">Key</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtKey" th:field="*{key}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtName" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtName" th:field="*{name}">
				</div>
			</div>
			<p>
				<input type="submit" class="btn btn-primary" value="Delete" />
			</p>
		</form>
	</div>
</body>
</html>