<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Spaceship</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/spaceship}">List
						Spaceships</a></li>
				<li class="breadcrumb-item active" aria-current="page">View
					Spaceship</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary"
				th:href="@{|/spaceship/edit/${spaceship.key}|}">Edit</a> <a
				class="btn btn-primary"
				th:href="@{|/spaceship/delete/${spaceship.key}|}">Delete</a>
		</p>
		<form th:object="${spaceship}">
			<div class="form-group row">
				<label for="txtKey" class="col-sm-2 col-form-label">Key</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtKey" th:field="*{key}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtName" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtName" th:field="*{name}">
				</div>
			</div>
		</form>
		<h3>Missions</h3>
		<th:block th:each="mission : ${spaceship.missions}">
			<h4 th:text="${mission.key}">Mission #</h4>
			<table>
				<thead>
					<tr>
						<th>Objective</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="objective : ${mission.objectives}">
						<td th:text="${objective.description}">Description</td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<h3>Mission States</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Key</th>
					<th>Date/Time</th>
					<th>Objective Index</th>
					<th>Start Date/Time</th>
					<th>End Date/Time</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="missionState: ${spaceship.missionStates}">
					<td th:text="${missionState.key}">Key</td>
					<td th:text="${missionState.dateTime}">Date/Time</td>
					<td th:text="${missionState.objectiveIndex}">Objective Index</td>
					<td th:text="${missionState.startDateTime}">Start Date/Time</td>
					<td th:text="${missionState.endDateTime}">End Date/Time</td>
				</tr>
			</tbody>
		</table>
		<h3>Spaceship States</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Key</th>
					<th>Date/Time</th>
					<th>Location Coordinate</th>
					<th>Location Key</th>
					<th>Location Arrival Date/Time</th>
					<th>Speed</th>
					<th>Destination Coordinate</th>
					<th>Destination Key</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spaceshipState: ${spaceship.states}">
					<td th:text="${spaceshipState.key}">Key</td>
					<td th:text="${spaceshipState.dateTime}">Date/Time</td>
					<td th:text="${spaceshipState.locationXYZ}">Location
						Coordinate</td>
					<td th:text="${spaceshipState.locationKey}">Location Key</td>
					<td th:text="${spaceshipState.locationArrivalDateTime}">Location
						Arrival Date/Time</td>
					<td th:text="${spaceshipState.speed}">Speed</td>
					<td th:text="${spaceshipState.destinationXYZ}">Destination
						Coordinate</td>
					<td th:text="${spaceshipState.destinationKey}">Destination Key</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>