<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Spaceships</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List
					Spaceships</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{/spaceship_create}">Create</a>
		</p>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Key</th>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spaceship: ${spaceships}">
					<td><a class="btn btn-primary"
						th:href="@{|/spaceship/${spaceship.key}|}">View</a></td>
					<td th:text="${spaceship.key}">123</td>
					<td th:text="${spaceship.name}">USS Demo</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>