<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<head>
<title>Spaceship</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Spaceship</h1>
		<a th:href="@{/spaceship}">Back</a> <a
			th:href="@{|/spaceship_edit/${spaceship.id}|}">Edit</a> <a
			th:href="@{|/spaceship_delete/${spaceship.id}|}">Delete</a>
		<table>
			<tr>
				<td>ID:</td>
				<td th:text="${spaceship.id}">ID</td>
			</tr>
			<tr>
				<td>Name:</td>
				<td th:text="${spaceship.name}">Name</td>
			</tr>
		</table>
	</div>
</body>
</html>