<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Spaceship</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/spaceship}">List
						Spaceships</a></li>
				<li class="breadcrumb-item active" aria-current="page">View
					Spaceship</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary"
				th:href="@{|/spaceship/edit/${spaceship.key}|}">Edit</a> <a
				class="btn btn-primary"
				th:href="@{|/spaceship/delete/${spaceship.key}|}">Delete</a>
		</p>
		<form th:object="${spaceship}">
			<div class="form-group row">
				<label for="txtKey" class="col-sm-2 col-form-label">Key</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtKey" th:field="*{key}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtName" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtName" th:field="*{name}">
				</div>
			</div>
		</form>
		<h3>Missions</h3>
		<th:block th:each="mission : ${spaceship.missions}">
			<h4 th:text="${mission.key}">#</h4>
			<form>
				<div class="form-group row">
					<label for="txtStatus" class="col-sm-2 col-form-label">Status</label>
					<div class="col-sm-10">
						<span class="form-control-plaintext" id="txtStatus"
							th:text="${mission.status}">#</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="txtStartDateTime" class="col-sm-2 col-form-label">Start
						Date/Time</label>
					<div class="col-sm-10">
						<span class="form-control-plaintext" id="txtStartDateTime"
							th:text="${{mission.startDateTime}}">#</span>
					</div>
				</div>
				<div class="form-group row">
					<label for="txtEndDateTime" class="col-sm-2 col-form-label">End
						Date/Time</label>
					<div class="col-sm-10">
						<span class="form-control-plaintext" id="txtEndDateTime"
							th:text="${{mission.endDateTime}}">#</span>
					</div>
				</div>
			</form>
			<table class="table">
				<thead>
					<tr>
						<th>Objective</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="objective : ${mission.objectives}">
						<td th:text="${objective.description}">#</td>
					</tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr>
						<th>Status Key</th>
						<th>Date/Time</th>
						<th>Objective Index</th>
						<th>Start Date/Time</th>
						<th>End Date/Time</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="missionState: ${mission.missionStates}">
						<td th:text="${missionState.key}">#</td>
						<td th:text="${{missionState.dateTime}}">#</td>
						<td th:text="${missionState.objectiveIndex}">#</td>
						<td th:text="${{missionState.startDateTime}}">#</td>
						<td th:text="${{missionState.endDateTime}}">#</td>
					</tr>
				</tbody>
			</table>
		</th:block>
		<h3>Spaceship States</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Key</th>
					<th>Date/Time</th>
					<th>Location Coordinate</th>
					<th>Location Key</th>
					<th>Location Arrival Date/Time</th>
					<th>Speed</th>
					<th>Destination Coordinate</th>
					<th>Destination Key</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="spaceshipState: ${spaceship.states}">
					<td th:text="${{spaceshipState.key}}">#</td>
					<td th:text="${{spaceshipState.dateTime}}">#</td>
					<td th:text="${{spaceshipState.locationXYZ}}">#</td>
					<td th:text="${{spaceshipState.locationKey}}">#</td>
					<td th:text="${{spaceshipState.locationArrivalDateTime}}">#</td>
					<td th:text="${{spaceshipState.speed}}">#</td>
					<td th:text="${{spaceshipState.destinationXYZ}}">#</td>
					<td th:text="${{spaceshipState.destinationKey}}">#</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>