<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<head>
<title>Edit Spaceship</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<h1>Edit Spaceship</h1>
		<form action="#" th:action="@{/spaceship_editPost}"
			th:object="${spaceship}" method="post">
			<input type="submit" value="Save" /> <a
				th:href="@{|/spaceship/${spaceship.id}|}">Cancel</a>
			<table>
				<tr>
					<td>ID:</td>
					<td th:text="${spaceship.id}">ID</td>
				</tr>
				<tr>
					<td>Name:</td>
					<td><input type="text" th:field="*{name}" /></td>
				</tr>
			</table>
			<input type="hidden" th:field="*{id}" />
		</form>
	</div>
</body>
</html>