<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Star</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/star}">List
						Stars</a></li>
				<li class="breadcrumb-item active" aria-current="page">View
					Star</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{|/star/edit/${star.key}|}">Edit</a>
			<a class="btn btn-primary" th:href="@{|/star/delete/${star.key}|}">Delete</a>
		</p>
		<form th:object="${star}">
			<div class="form-group row">
				<label for="txtKey" class="col-sm-2 col-form-label">Star ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtKey" th:field="*{key}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtSectorKey" class="col-sm-2 col-form-label">Sector
					Key</label>
				<div class="col-sm-10">
					<a id="txtSectorKey" class="form-control-plaintext"
						th:href="@{|/sector/*{sectorKey}|}" th:text="*{sectorKey}">Sector
						Key</a>
				</div>
			</div>
			<div class="form-group row">
				<label for="txtClusterKey" class="col-sm-2 col-form-label">Cluster
					Key</label>
				<div class="col-sm-10">
					<a id="txtClusterKey" class="form-control-plaintext"
						th:href="@{|/cluster/*{clusterKey}|}" th:text="*{clusterKey}">Cluster
						Key</a>
				</div>
			</div>
			<div class="form-group row">
				<label for="txtHipparcosId" class="col-sm-2 col-form-label">Hipparcos
					ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtHipparcosId" th:field="*{hipparcosId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtHenryDraperId" class="col-sm-2 col-form-label">Henry
					Draper ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtHenryDraperId" th:field="*{henryDraperId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtHarvardRevisedId" class="col-sm-2 col-form-label">Harvard
					Revised ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtHarvardRevisedId" th:field="*{harvardRevisedId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtGlieseId" class="col-sm-2 col-form-label">Gliese
					ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtGlieseId" th:field="*{glieseId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtBayerFlamsteedId" class="col-sm-2 col-form-label">Bayer
					Flamsteed ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtBayerFlamsteedId" th:field="*{bayerFlamsteedId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperName" class="col-sm-2 col-form-label">Proper
					Name</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtProperName" th:field="*{properName}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtRightAscension" class="col-sm-2 col-form-label">RA</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtRightAscension" th:field="*{rightAscension}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtDeclination" class="col-sm-2 col-form-label">Dec</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtDeclination" th:field="*{declination}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtDistance" class="col-sm-2 col-form-label">Distance</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtDistance" th:field="*{distance}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperMotionRightAscension"
					class="col-sm-2 col-form-label">Proper Motion RA</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtProperMotionRightAscension"
						th:field="*{properMotionRightAscension}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperMotionDeclination"
					class="col-sm-2 col-form-label">Proper Motion Dec</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtProperMotionDeclination"
						th:field="*{properMotionDeclination}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtRadialVelocity" class="col-sm-2 col-form-label">Radial
					Velocity</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtRadialVelocity" th:field="*{radialVelocity}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtMagnitude" class="col-sm-2 col-form-label">Magnitude</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtMagnitude" th:field="*{magnitude}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtAbsoluteMagnitude" class="col-sm-2 col-form-label">Absolute
					Magnitude</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtAbsoluteMagnitude" th:field="*{absoluteMagnitude}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtSpectrum" class="col-sm-2 col-form-label">Spectrum</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtSpectrum" th:field="*{spectrum}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtColorIndex" class="col-sm-2 col-form-label">Color
					Index</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtColorIndex" th:field="*{colorIndex}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtX" class="col-sm-2 col-form-label">X</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtX" th:field="*{x}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtY" class="col-sm-2 col-form-label">Y</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtY" th:field="*{y}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtz" class="col-sm-2 col-form-label">Z</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtz" th:field="*{z}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVx" class="col-sm-2 col-form-label">VX</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVx" th:field="*{vX}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVy" class="col-sm-2 col-form-label">VY</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVy" th:field="*{vY}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVz" class="col-sm-2 col-form-label">VZ</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVz" th:field="*{vZ}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtRightAcensionRadians" class="col-sm-2 col-form-label">RA
					&Theta;</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtRightAcensionRadians" th:field="*{rightAcensionRadians}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtDeclinationRadians" class="col-sm-2 col-form-label">Dec
					&Theta;</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtDeclinationRadians" th:field="*{declinationRadians}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperMotionRightAscensionRadians"
					class="col-sm-2 col-form-label">Proper Motion RA &Theta;</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtProperMotionRightAscensionRadians"
						th:field="*{properMotionRightAscensionRadians}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperMotionDeclinationRadians"
					class="col-sm-2 col-form-label">Proper Motion Dec &Theta;</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtProperMotionDeclinationRadians"
						th:field="*{properMotionDeclinationRadians}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtBayerId" class="col-sm-2 col-form-label">Bayer
					ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtBayerId" th:field="*{bayerId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtFlamsteed" class="col-sm-2 col-form-label">Flamsteed
					ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtFlamsteed" th:field="*{flamsteed}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtConstellation" class="col-sm-2 col-form-label">Constellation</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtConstellation" th:field="*{constellation}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtCompanionStarId" class="col-sm-2 col-form-label">Companion
					Star ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtCompanionStarId" th:field="*{companionStarId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtPrimaryStarId" class="col-sm-2 col-form-label">Primary
					Star ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtPrimaryStarId" th:field="*{primaryStarId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtMultipleStarId" class="col-sm-2 col-form-label">Multiple
					Star ID</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtMultipleStarId" th:field="*{multipleStarId}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtLuminosity" class="col-sm-2 col-form-label">Luminosity</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtLuminosity" th:field="*{luminosity}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVariableStarDesignation"
					class="col-sm-2 col-form-label">Variable Star Designation</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVariableStarDesignation"
						th:field="*{variableStarDesignation}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVariableMinimum" class="col-sm-2 col-form-label">Variable
					Minimum</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVariableMinimum" th:field="*{variableMinimum}">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtVariableMaximum" class="col-sm-2 col-form-label">Variable
					Maximum</label>
				<div class="col-sm-10">
					<input type="text" readonly class="form-control-plaintext"
						id="txtVariableMaximum" th:field="*{variableMaximum}">
				</div>
			</div>
		</form>
	</div>
</body>
</html>