<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Create Star</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item"><a th:href="@{/star}">List
						Stars</a></li>
				<li class="breadcrumb-item active" aria-current="page">Create
					Star</li>
			</ol>
		</nav>
		<p>Specify information and click Save when complete.</p>
		<form th:action="@{/star_createPost}" th:object="${star}"
			method="post">
			<div class="form-group row">
				<label for="txtKey" class="col-sm-2 col-form-label">Star ID</label>
				<div class="col-sm-10">
					<input type="number" class="form-control" id="txtKey"
						th:field="*{key}" placeholder="Enter Star ID" required min="1"
						max="999999" maxlength="6">
				</div>
			</div>
			<div class="form-group row">
				<label for="txtProperName" class="col-sm-2 col-form-label">Proper
					Name</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="txtProperName"
						th:field="*{properName}" placeholder="Enter Proper Name" required
						maxlength="100">
				</div>
			</div>
			<p>
				<button type="submit" class="btn btn-primary">Save</button>
			</p>
		</form>
	</div>
</body>
</html>