<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Stars</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List
					Stars</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{/star_create}">Create</a>
		</p>
		<h3 th:text="${'Page ' + paging.currentPageNumber}">Page #</h3>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Star ID</th>
					<th>Proper Name</th>
					<th>Coordinates</th>
					<th>Cluster Key</th>
					<th>Sector Key</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="star: ${stars}">
					<td><a class="btn btn-primary"
						th:href="@{|/star/${star.key}|}">View</a></td>
					<td th:text="${star.key}">123</td>
					<td th:text="${star.properName}">Proper Name</td>
					<td th:text="${star.x + ' , ' + star.y + ' , ' + star.z}">X,Y,Z</td>
					<td th:text="${star.clusterKey}">Cluster Key</td>
					<td th:text="${star.sectorKey}">Sector Key</td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${paging.endOfResults}">
			<a class="btn btn-primary"
				th:href="@{|/star?sort=${sorting.sort}&direction=${sorting.direction}&pageNumber=${paging.nextPageNumber}&bookmark=${paging.nextBookmark}|}">Next</a>
		</p>
	</div>
</body>
</html>