<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title>Stars</title>
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List
					Stars</li>
			</ol>
		</nav>
		<p>
			<a class="btn btn-primary" th:href="@{/star/create}">Create</a>
		</p>
		<h3 th:text="${'Page ' + paging.currentPageNumber}">Page #</h3>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>Key</th>
					<th><a class="nav-link"
						th:href="@{|/star?sort=${F.CatalogId}&direction=${sorting.direction(F.CatalogId)}|}">Catalog
							ID [(${sorting.icon(F.CatalogId)})]</a></th>
					<th><a class="nav-link"
						th:href="@{|/star?sort=${F.XYZ}&direction=${sorting.direction(F.XYZ)}|}">Coordinates
							[(${sorting.icon(F.XYZ)})]</a></th>
					<th><a class="nav-link"
						th:href="@{|/star?sort=${F.ProperName}&direction=${sorting.direction(F.ProperName)}|}">Proper
							Name [(${sorting.icon(F.ProperName)})]</a></th>
					<th><a class="nav-link"
						th:href="@{|/star?sort=${F.ClusterKey}&direction=${sorting.direction(F.ClusterKey)}|}">Cluster
							Key [(${sorting.icon(F.ClusterKey)})]</a></th>
					<th><a class="nav-link"
						th:href="@{|/star?sort=${F.SectorKey}&direction=${sorting.direction(F.SectorKey)}|}">Sector
							Key [(${sorting.icon(F.SectorKey)})]</a></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="star: ${stars}">
					<td><a class="btn btn-primary"
						th:href="@{|/star/${star.Key}|}">View</a></td>
					<td th:text="${star.Key}">123</td>
					<td th:text="${star.CatalogId}">Catalog ID</td>
					<td th:text="${star.XYZ}">X,Y,Z</td>
					<td th:text="${star.ProperName}">Proper Name</td>
					<td th:text="${star.ClusterKey}">Cluster Key</td>
					<td th:text="${star.SectorKey}">Sector Key</td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${paging.endOfResults}">
			<a class="btn btn-primary"
				th:href="@{|/star?sort=${sorting.sort}&direction=${sorting.direction}&pageNumber=${paging.nextPageNumber}&bookmark=${paging.nextBookmark}|}">Next</a>
		</p>
	</div>
</body>
</html>