<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<head>
<title>Utility</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Utility</li>
			</ol>
		</nav>
		<table class="table">
			<tbody>
				<tr th:each="debugEntry: ${debugEntries}">
					<td th:text="${debugEntry.id}">ID</td>
					<td th:text="${debugEntry.value}">Value</td>
				</tr>
			</tbody>
		</table>
		<p>
			<a class="btn btn-primary" th:href="@{/utility/generateSpaceships}">Generate
				Spaceships</a>
		</p>
		<p>
			<a class="btn btn-primary" th:href="@{/utility/generateCrewMembers}">Generate
				Crew Members</a>
		</p>
		<p>
			<a class="btn btn-primary" th:href="@{/utility/generateStarClusters}">Generate
				Star Clusters</a>
		</p>
		<p>
			<a class="btn btn-primary" th:href="@{/utility/upload}">Upload
				File</a>
		</p>
	</div>
</body>
</html>